.barcode-scanner-modal {   
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    display: none; 
    border: 1px solid red;  
    z-index: 1;
    
    width: 90%;
    height: 90%;
    overflow: hidden;
    
    background-color: rgba(0,0,0);
}

.barcode-scanner-close { 
    color: #ffffff;
    float: right;
    font-size: 40px;   
    font-weight: bold;
    margin-right: 5px;
}

.barcode-scanner-close:hover, .close:focus {   
    text-decoration: none;   
    cursor: pointer; 
}

.video {
	width: 100%;
	height: 80%;
}

.barcode-scanner-source-select-panel, .barcode-scanner-source-select, .barcode-scanner-result-panel{
	color: #ffffff;
	margin-left: 5px;
}