<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Barcode scanner</title>
    <link rel="stylesheet" href="/css/barcode-scanner.css">
    
</head>
<body>
<h1>Scan barcode</h1>
<button type="button" id="barcodeScannerBtn">Scan</button> <!-- Trigger/Open The Modal -->
<div id="barcode-scanner"></div>
<script type="text/javascript" src="/js/@zxing/library/umd/index.min.js"></script>
<script type="text/javascript" src="/js/setup-barcode-scanner.js"></script>

</body>
</html>